*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background: rgb(251,63,209);
background: linear-gradient(90deg, rgba(251,63,209,1) 0%, rgba(99,83,152,0.6867121848739496) 100%);
}
.container{
}
